@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Roboto+Condensed:wght@400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
  line-height: 1.5;
}

html {
  background: #20043d;
  color: #ebe7ef;
  height: 100vh;
}

#root {
  display: flex;
  flex-direction: column;
}

.container {
  &_menu {
    display: flex;
    width: 100%;
    margin: auto;
    background: #140524;
    font-size: 1.4rem;
    &_button {
      display: flex;
      color: white;
      text-decoration: none;
      padding: 0.2rem 1rem;
      background: none;
      border: none;
      font-size: inherit;
      transition: all 0.2s ease-in-out;
      cursor: pointer;
      border-bottom: 1px solid transparent;
      &:not(:nth-last-child(2))::after {
        content: '';
        height: 80%;
        position: relative;
        top: 10%;
        left: 16px;
        border-right: 1px solid white;
      }
      &:hover {
        border-bottom: 1px solid #7925d3;
        color: #ebe7ef;
      }
      &_log {
        display: flex;
        margin-left: auto;
        margin-right: 1rem;
        color: white;
        text-decoration: none;
        padding: 0.2rem;
        background: none;
        border: none;
        font-size: inherit;
        cursor: pointer;
        border-bottom: 1px solid transparent;
        transition: all 0.2s ease-in-out;
        &:hover {
          border-bottom: 1px solid #7925d3;
          color: #ebe7ef;
        }
        &::before {
          content: '';
          height: 80%;
          position: relative;
          top: 10%;
          right: 10px;
          border-right: 1px solid white;
        }
      }
      &:first-child {
        margin-left: auto;
      }
    }
    &_login,
    &_register {
      display: flex;
      flex-direction: column;
      margin: auto;
      margin-top: 5%;
      background: #140524;
      width: 20%;
      border-radius: 4px;
      &_credentials {
        font-size: 1.2rem;
        margin: 0.2rem auto;
        width: 70%;
        text-align: center;
        outline: none;
        border: 1px solid transparent;
        &:focus {
          border: 1px solid transparent;
          // box-shadow: rgba(121, 37, 211, 0.2) 0px -35px 20px -20px;
          box-shadow: rgba(121, 37, 211, 0.2) 5px 5px,
            rgba(121, 37, 211, 0.1) 10px 10px,
            rgba(121, 37, 211, 0.05) 15px 15px;
        }
        &_erro {
          margin: 0.2rem auto;
          text-align: center;
          font-size: 0.7rem;
          color: rgb(255, 255, 255);
        }
      }
      input[type='number'] {
        -moz-appearance: textfield;
      }
      input[type='number']::-webkit-inner-spin-button,
      input[type='number']::-webkit-outer-spin-button {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        margin: 0;
      }

      &_submit {
        display: flex;
        margin: auto;
        color: white;
        text-decoration: none;
        padding: 0.5rem;
        background: none;
        border: none;
        font-size: 1.2rem;
        cursor: pointer;
        border-bottom: 1px solid transparent;
        transition: all 0.2s ease-in-out;
        &_switch {
          display: flex;
          font-size: 0.8rem;
          margin: auto;
          color: white;
          text-decoration: none;
          background: none;
          border: none;
          cursor: pointer;
          margin-top: 1rem;
        }
        &:hover {
          border-bottom: 1px solid #7925d3;
          color: #ebe7ef;
        }
      }
    }
  }
  &_postContent {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 30%;
    font-size: 1.2rem;
    text-align: center;
    margin-top: 10rem;
    &_submit {
      display: flex;
      margin: auto;
      color: white;
      text-decoration: none;
      padding: 0.5rem;
      background: none;
      border: none;
      font-size: 1.2rem;
      cursor: pointer;
      border-bottom: 1px solid transparent;
      transition: all 0.2s ease-in-out;
      &:hover {
        border-bottom: 1px solid #7925d3;
        color: #ebe7ef;
      }
    }
    &_categories {
      &_title {
        text-align: center;
      }
      &_catImg {
        height: 3rem;
        width: 3rem;
        margin: 0.1rem;
        border-radius: 50%;
        cursor: pointer;
        transition: 0.15s;
        border: 2px solid transparent;
      }
    }
  }
  &_forum {
    display: flex;
    flex-direction: column;
    &_all-posts {
      display: flex;
      margin: auto;
      margin-top: 1rem;
      height: 4rem;
      cursor: pointer;
      width: 80%;
      border: 1px solid transparent;
      box-shadow: #7925d3 0px 0px 16px;
      border-radius: 0 1rem 0 1rem;
      transition: 1s;
      overflow: hidden;
      &:hover {
        border: 1px solid white;
      }
      &_title {
        position: relative;
        left: -6rem;
        bottom: 13rem;
        padding: 9rem;
        background: white;
        overflow: hidden;
        transform: rotate(-30deg);
        &_content {
          position: relative;
          top: 3rem;
          left: -5rem;
          color: #7925d3;
          transform: rotate(30deg);
        }
        &_created {
          color: white;
          width: 4rem;
          margin-left: auto;
          margin-top: auto;
          padding-left: 2rem;
          font-size: 1.1rem;
          transform: rotate(-30deg);
        }
      }
      &_content {
        margin: auto;
        overflow: hidden;
        &_categories {
          display: flex;
          align-items: center;
          margin: auto;
          &_img {
            height: 3rem;
            width: 3rem;
            margin: 0.1rem;
            border-radius: 50%;
          }
        }
      }
    }
    &_categories {
      display: flex;
      margin: auto;
    }
    &_single-post {
      display: flex;
      flex-direction: column;
      margin: auto;
      box-shadow: #7925d3 0px 0px 16px;
      padding: 1rem;
      border-radius: 5px;
      width: 60%;

      &_title {
        border-radius: 5px;
        font-size: 1.3rem;
        background: white;
        color: rgb(121, 37, 211);
        margin: 0.25rem;
        padding: 0.25rem;
        text-align: center;
        box-shadow: #000000 0px 0px 16px;
      }
      &_content {
        border-radius: 5px;
        font-size: 1.3rem;
        background: white;
        color: rgb(121, 37, 211);
        margin: 0.25rem;
        padding: 0.25rem;
        text-align: center;
        overflow: hidden;
        box-shadow: #000000 0px 0px 16px;
      }
      &_date {
        border-radius: 5px;
        font-size: 1.3rem;
        background: white;
        color: rgb(121, 37, 211);
        margin: 0.25rem;
        padding: 0.25rem;
        text-align: center;
        box-shadow: #000000 0px 0px 16px;
      }
      &_user {
        border-radius: 5px;
        font-size: 1.3rem;
        background: white;
        color: rgb(121, 37, 211);
        margin: 0.25rem;
        padding: 0.25rem;
        text-align: center;
        box-shadow: #000000 0px 0px 16px;
      }
      &_back {
        display: flex;
        margin: auto;
        margin-top: 5rem;
        color: white;
        text-decoration: none;
        padding: 0.5rem;
        background: none;
        border: none;
        font-size: 1.2rem;
        cursor: pointer;
        border-bottom: 1px solid transparent;
        transition: all 0.2s ease-in-out;
        &:hover {
          border-bottom: 1px solid #7925d3;
          color: #ebe7ef;
        }
      }
    }
    &_comments {
      display: flex;
      flex-direction: column;
      margin: auto;
      text-align: center;
      margin-top: 2rem;
      width: 60%;
      &_comment {
        display: flex;
        flex-direction: row;
        margin-bottom: 1rem;
        border-radius: 5px;
        font-size: 1.3rem;
        background: #140524;
        color: white;
        text-align: center;
        box-shadow: #7925d3 0px 0px 16px;
        &_title {
          background: white;
          color: rgb(121, 37, 211);
          padding: 0.5rem;
          margin-right: auto;
        }
        &_content {
          font-size: 1.2rem;
          outline: none;
          margin: auto;
        }
        &_user {
          background: white;
          color: rgb(121, 37, 211);
          padding: 0.5rem;
          margin-left: auto;
        }
      }
      &_title {
        font-size: 1.2rem;
        margin-bottom: 1rem;
      }
      &_input {
        font-size: 1.2rem;
        outline: none;
        width: 25%;
        margin: auto;
      }
      &_submit {
        display: flex;
        margin: auto;
        color: white;
        text-decoration: none;
        padding: 0.5rem;
        background: none;
        border: none;
        font-size: 1.2rem;
        cursor: pointer;
        border-bottom: 1px solid transparent;
        transition: all 0.2s ease-in-out;
        &:hover {
          border-bottom: 1px solid #7925d3;
          color: #ebe7ef;
        }
      }
    }
  }
  &_messages {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    margin-top: 2rem;
    &_users-text {
      display: flex;
      flex-direction: row;
      border-radius: 5px;
      &_users {
        display: flex;
        flex-direction: column;
        height: 85vh;
        width: 30%;
        overflow: hidden;
        &_user {
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 1.4rem;
          border: 2px solid transparent;
          height: 3rem;
          width: 100%;
          cursor: pointer;
          &:hover {
            background: black;
            color: white;
          }
        }
      }
      &_text {
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: center;
        width: 100%;
        height: 100%;
        background: #140524;
        color: white;
        border-radius: 5px;
      }
      &_container {
        font-size: 1.4rem;
        display: flex;
        flex-direction: column;
        margin: auto;
        width: 100%;
        height: 85vh;
        box-shadow: #7925d3 0px 0px 16px;
        border-radius: 5px;
        &_row {
          width: 100%;
          &_input {
            width: 80%;
            background: white;
            height: 3rem;
            outline: none;
            border: none;
            font-size: 1.5rem;
            padding: 0 0.5rem;
            text-align: left;
            border-radius: 0 0 0 5px;
          }
          &_send {
            width: 20%;
            height: 3rem;
            color: white;
            text-decoration: none;
            background: none;
            border: none;
            font-size: 1.5rem;
            cursor: pointer;
            border-bottom: 1px solid transparent;
            transition: all 0.2s ease-in-out;
            box-shadow: #7925d3 0px 0px 16px;
            border-radius:0 0 5px 0;
          }
        }
      }
    }
  }
}

.input-fail {
  border: 1px solid red;
  box-shadow: rgba(255, 0, 0, 0.4) 0px 7px 29px 0px;
}

.selectCat {
  box-shadow: rgba(255, 255, 255, 0.2) 0px 7px 29px 0px;
  border: 2px solid white;
}

.accepted {
  color: rgb(117, 190, 8);
}

.denied {
  color: red;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.loader {
  display: inline-block;
  position: absolute;
  left: 45%;
  top: 30%;
  width: 12.5rem;
  height: 10rem;
  text-align: center;
  &_text {
    position: relative;
    top: 72%;
    margin: auto;
    font-size: 1.2rem;
  }
}
.loader:after {
  content: ' ';
  display: block;
  width: 12rem;
  height: 12rem;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #36007c;
  border-color: #36007c transparent #36007c transparent;
  animation: animateLoader 1.2s linear infinite;
}
@keyframes animateLoader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
