@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Roboto+Condensed:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
  line-height: 1.5;
}

html {
  background: #20043d;
  color: #ebe7ef;
  height: 100vh;
}

#root {
  display: flex;
  flex-direction: column;
}

.container_menu {
  display: flex;
  width: 100%;
  margin: auto;
  background: #140524;
  font-size: 1.4rem;
}
.container_menu_button {
  display: flex;
  color: white;
  text-decoration: none;
  padding: 0.2rem 1rem;
  background: none;
  border: none;
  font-size: inherit;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  border-bottom: 1px solid transparent;
}
.container_menu_button::after {
  content: "";
  height: 80%;
  position: relative;
  top: 10%;
  left: 16px;
  border-right: 1px solid white;
}
.container_menu_button:hover {
  border-bottom: 1px solid #7925d3;
  color: #ebe7ef;
}
.container_menu_button_log {
  display: flex;
  margin-left: auto;
  margin-right: 1rem;
  color: white;
  text-decoration: none;
  padding: 0.2rem;
  background: none;
  border: none;
  font-size: inherit;
  cursor: pointer;
  border-bottom: 1px solid transparent;
  transition: all 0.2s ease-in-out;
}
.container_menu_button_log:hover {
  border-bottom: 1px solid #7925d3;
  color: #ebe7ef;
}
.container_menu_button_log::before {
  content: "";
  height: 80%;
  position: relative;
  top: 10%;
  right: 10px;
  border-right: 1px solid white;
}
.container_menu_button:first-child {
  margin-left: auto;
}
.container_menu_login, .container_menu_register {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 5%;
  background: #140524;
  width: 20%;
  border-radius: 4px;
}
.container_menu_login_credentials, .container_menu_register_credentials {
  font-size: 1.2rem;
  margin: 0.2rem auto;
  width: 70%;
  text-align: center;
  outline: none;
  border: 1px solid transparent;
}
.container_menu_login_credentials:focus, .container_menu_register_credentials:focus {
  border: 1px solid transparent;
  box-shadow: rgba(121, 37, 211, 0.2) 5px 5px, rgba(121, 37, 211, 0.1) 10px 10px, rgba(121, 37, 211, 0.05) 15px 15px;
}
.container_menu_login_credentials_erro, .container_menu_register_credentials_erro {
  margin: 0.2rem auto;
  text-align: center;
  font-size: 0.7rem;
  color: rgb(255, 255, 255);
}
.container_menu_login input[type=number], .container_menu_register input[type=number] {
  -moz-appearance: textfield;
}
.container_menu_login input[type=number]::-webkit-inner-spin-button,
.container_menu_login input[type=number]::-webkit-outer-spin-button, .container_menu_register input[type=number]::-webkit-inner-spin-button,
.container_menu_register input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
.container_menu_login_submit, .container_menu_register_submit {
  display: flex;
  margin: auto;
  color: white;
  text-decoration: none;
  padding: 0.5rem;
  background: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  border-bottom: 1px solid transparent;
  transition: all 0.2s ease-in-out;
}
.container_menu_login_submit:hover, .container_menu_register_submit:hover {
  border-bottom: 1px solid #7925d3;
  color: #ebe7ef;
}

.input-fail {
  border: 1px solid red;
  box-shadow: rgba(255, 0, 0, 0.4) 0px 7px 29px 0px;
}

.accepted {
  color: rgb(117, 190, 8);
}

.denied {
  color: red;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.loader {
  display: inline-block;
  position: absolute;
  left: 45%;
  top: 35%;
  width: 10rem;
  height: 10rem;
}

.loader:after {
  content: " ";
  display: block;
  width: 10rem;
  height: 10rem;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #36007c;
  border-color: #36007c transparent #36007c transparent;
  animation: animateLoader 1.2s linear infinite;
}

@keyframes animateLoader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}/*# sourceMappingURL=main.css.map */